<button type="button" class="btn btn-success" (click) = "goBack()" style="position: absolute; right: 0;">Retour</button>

<h1> Mesures préventives pour Covid-19</h1>


<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding-left: 25px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>

<div class="row">
  <div class="column">
    <img src="/assets/wash_hands.png" alt="Wash Hands" style="width:75%">
  </div>
  <div class="column">
    <img src="/assets/mask.png" alt="Wear Mask" style="width:75%">
  </div>
  <div class="column">
    <img src="/assets/social_distancing.png" alt="Social Distancing" style="width:75%;height:90%">
  </div>
</div>

<div class="row" routerLink='protege' >
  <div class="column">
    <h2> Laver les mains Regulièrement</h2>
  </div>
  <div class="column">
    <h2> Porter un Masque</h2>
  </div>
   <div class="column">
    <h2> Maintenir la distance Sociale</h2>
  </div>
</div>
<br>
<div>
Pour empêcher la propagation de la COVID-19, suivez ces recommandations :
<li>Lavez-vous fréquemment les mains.</li>
<li> Utilisez du savon et de l'eau, ou une solution hydroalcoolique.</li>
<li>Tenez-vous à distance de toute personne qui tousse ou éternue.</li>
<li>Portez un masque lorsque la distanciation physique n'est pas possible.</li>
<li>Évitez de vous toucher les yeux, le nez ou la bouche.</li>
<li>En cas de toux ou d'éternuement, couvrez-vous le nez et la bouche avec le pli du coude ou avec un mouchoir.</li>
<li>Restez chez vous si vous ne vous sentez pas bien.</li>
<li>Consultez un professionnel de santé si vous avez de la fièvre, que vous toussez et que vous avez des difficultés à respirer.</li>
<li>Prévenez le professionnel de santé par téléphone au préalable. Il pourra ainsi vous orienter rapidement vers l'établissement de santé adéquat. Cela vous protège, et empêche la propagation des virus et d'autres infections.</li>
<li>Les masques peuvent contribuer à éviter que les personnes qui les portent transmettent le virus à d'autres personnes. Le seul port du masque ne protège pas contre la COVID-19. Il doit être associé à des mesures de distanciation physique et d'hygiène des mains. Suivez les conseils des autorités sanitaires locales.</li>
</div>
<br>

<div class="row justify-content-center">

  <!--begin::List Widget 4-->
  <div class="card card-custom card-stretch gutter-b ">
      <!--begin::Header-->
      <div class="card-header border-0">
          <div class="card-toolbar">
              <div class="dropdown dropdown-inline">
                  <br><br><br>
                  <blockquote class="blockquote text-center">
                      <p class="mb-0" style="color: crimson;">Pour
                          déclarer un cas d'infection,</p>
                      <footer class="blockquote-footer" style="color: black;">
                          veuillez appelez l'un de ces
                          numéros <cite title="Source Title"></cite></footer>
                  </blockquote>


                  <table class="table table-borderless">

                      <tr>
                          <th>Nord-Est</th>
                          <th>Nord-Ouest</th>
                          <th>Centre-Est</th>
                          <th>Centre-Ouest</th>
                          <th>Sud</th>

                      </tr>


                      <tr>

                          <th>190</th>
                          <td>190</td>
                          <td>190</td>
                          <td>190</td>
                          <td>190</td>
                      </tr><br>

                      <tr>

                          <th>71.589.271</th>
                          <td>78.613.213</td>
                          <td>73.369.090</td>
                          <td>76.217.608</td>
                          <td>75.294.529</td>
                      </tr>
                      <tr>

                          <th>71.589.626</th>
                          <td> 73.369.393</td>
                          <td>76.217.915</td>

                      <tr><br>
                          <th>71.589.596</th>

                          <td>74.672.372</td>
                          <td>76.217.920</td>

                      </tr>




                  </table>

              </div>
          </div>
      </div>


  </div>

</div>
</body>
</html>
