<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h3>A propos du site</h3>
        <p>Ce site est mis à la disposition des citoyens tunisiens afin de leur permettre de suivre les dernières évolutions de la pandémie Covid-19 et de prendre les mesures préventives nécessaires pour lutter contre le virus. Le site est mis à jour régulièrement. Prière de respecter les mesures préventives annoncées par le gouvernement. Nous souhaitons une bonne santé à tous nos citoyens.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>Contact</h3>
        <ul class="list-unstyled">
          <li><p><strong><i class="fas fa-map-marker-alt"></i> Adresse:</strong> Tunis</p></li>
          <li><p><strong><i class="fas fa-envelope"></i> Email:</strong> <a href="#"> info@infomail.com</a></p></li>
          <li><p><strong><i class="fas fa-phone"></i> Numéro vert:</strong> 80 10 19 19</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
