/* You can add global styles to this file, and also import other style files */
#statistic {
  padding: 5rem 0;
}
#statistic .card-text {
  font-weight: bold;
  font-size: 50px;
  color: tomato;
}
#statistic .card-infected {
  border-bottom-color: blue;
  border-bottom-width: 10px;
}
#statistic .card-recovered {
  border-bottom-color: lightgreen;
  border-bottom-width: 10px;
}
#statistic .card-deaths {
  border-bottom-color: lightsalmon;
  border-bottom-width: 10px;
}
#footer {
  padding: 2rem 0;
  background-color: #aaaaaa;
  color: #eeeeee;
}

#footer a {
  color: purple;
}
#footer a:hover {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
#footer .fas {
  padding: 5px;

}

#footer .fa-phone {
  color: rgb(0, 128, 38);
}
